@import "tailwindcss";

html {
    scroll-padding-top: 80px;
    scroll-behavior: smooth;
}

section {
    @apply px-[3vw] sm:px-[5vw] md:px-[10vw] w-full relative py-12 md:py-16;
}

.navlink{
    @apply px-[5vw] py-2 max-lg:border-b border-black/5 lg:px-2 lg:py-2 lg:rounded-sm hover:bg-blue-100 duration-100 hover:text-blue-600;
}

.gradient_dark_background{
    @apply bg-linear-to-br from-blue-900 from-20% to-blue-950;
}

.gradient_light_background_one{
    @apply bg-linear-to-br from-blue-900 to-blue-400;
}

.gradient_light_background_two{
    @apply bg-linear-to-tl from-blue-200 from-80% to-white;
}

.gradient_mix_one {
    background: #091473;
    background: linear-gradient(90deg,rgba(9, 20, 115, 1) 0%, rgba(64, 78, 179, 1) 53%, rgba(18, 117, 66, 1) 100%);
}

.gradient_mix_two {
    background: #091473 !important;
    background: linear-gradient(90deg,rgba(9, 20, 115, 1) 0%, rgba(50, 85, 156, 1) 53%, rgba(18, 64, 117, 1) 100%) !important;
}

.gradient_mix_three {
    background: #031b38;
    background: linear-gradient(110deg,rgba(3, 27, 56, 1) 0%, rgba(51, 107, 102, 1) 37%, rgba(51, 107, 102, 1) 65%, rgba(45, 48, 125, 1) 100%);
}

.gradient_mix_four {
    background: #376310;
    background: linear-gradient(119deg,rgba(55, 99, 16, 1) 0%, rgba(40, 40, 133, 1) 31%, rgba(50, 64, 171, 1) 65%, rgba(35, 168, 148, 1) 100%);
}

.gradient_light_background_three {
    background: #ebf8ff;
    background: linear-gradient(35deg,rgba(235, 248, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.gradient_mix_five {
    background: #ebf8ff !important;
    background: linear-gradient(56deg,rgb(247, 252, 255) 0%, rgb(255, 247, 247) 100%) !important;
}

.gradient_mix_six {
    background: #b3e4ff !important;
    background: linear-gradient(141deg,rgb(179, 198, 255) 0%, rgba(255, 255, 255, 1) 80%) !important;
}

.backdrop_blur {
    backdrop-filter: blur(3px) !important;
}

.form_input {
    @apply border-none! bg-white/15! placeholder:font-bold!;
}

section > div {
    @apply max-w-[1200px] mx-auto;
}

nav > div, footer > div{
    @apply max-w-[1800px] mx-auto;
}

/*  css animation */

.pulse_animation {
    animation: bubble 3s ease-in-out infinite;
}

@keyframes bubble {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

.fade_animation{
    animation: fade 2s ease-in-out infinite;
}

@keyframes fade {
    0% {
        opacity: 0.75;
    }
    50%{
        opacity: 1;
    }
    100% {
        opacity: 0.75;
    }
}